<h1><%= @hour.date.to_s(:pretty) %></h1>
<h2><%= @hour.location %></h2>


<% if @hour.slots.empty? %>
  <p>no slots created yet</p>
<% else %>
  <%= render @slots %>
<% end %>

<p><%= link_to "all hours", hours_path %></p>


<!-- don't need add slot form now, maybe let admin see it later -->
<%-# render 'shared/slot_form' %>

