<p>
<%=slot.start.to_s(:slot) %> &nbsp;
  <% if slot.email? %>
    <b>booked</b> &nbsp; <%= link_to "reschedule", edit_slot_path(slot.id) %>
  <% else %>
    <%= link_to "book slot", edit_slot_path(slot.id) %>
  <% end %>

  <!-- not displaying email until i've implemented some admin authentication -->
  <%-# slot.email %>  
</p>


