<% if @slot.email? %>
  <h2>To cancel this meeting enter the email you used to book it</h2>
<% else %>
  <h2>To book this meeting please enter your email.</h2>
<% end %>
<% form_for @slot do |s| %>
  <%= s.label :email %> &nbsp; <%= s.text_field :email, :value => "" %> 
  <%= s.submit "submit" %>
<% end %>







