<div id="hours_list">
  <%= render :partial => "hours" %>
</div>

<br />

<% if current_user %>
  <%= link_to "create new hours", { :action => "index" }, :class => "createhours" %>
  <div id="new_hours" />
    <%= render :partial => 'form' %>
  </div>
<% end %>
