<table cellpadding ="7" >
  <% @hours.each do |h| %>
    <% if h.date + 8.hour >= Time.now %>
      <tr>
        <td><%= link_to h.date.to_s(:pretty) + " to " + h.endhours.to_s(:slot) , hour_path(h.id) %></td>
        <td>&nbsp;</td>
        <td><%= h.location %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% if current_user %>
  <p><%=link_to "create new hours", new_hour_path %></p>
<% end %>
