<h1><%= @hour.date.to_s(:pretty) %></h1>
<h2><%= @hour.location %></h2>


<% if @hour.slots.empty? %>
  <p>no slots created yet</p>
<% else %>
  <%= render @slots %>
<% end %>
<br />

<p><%= link_to "see all meeting times for #{@hour.user.login}", user_path(@hour.user)  %></p>
