<h1>bookerbus</h1>
<p>Arranging meetings is annoying. Especially when it's people wanting to meet with you. Bookerbus eliminates the pain.</p>

<ul>
  <li>Create blocks of time you can meet people e.g. Friday 5th May, 2pm - 5pm</li>
  <li>Send people your bookerbus URL, they choose a time that works</li>
  <li>Connect your GCal account and every meeting is auto added to it</li>
</ul>

<%= link_to "login", { :controller => "user_sessions", :action => "new" } %>
<br />
<%= link_to "sign up for new account", { :controller => "users", :action => "new" } %>
